<% layout('layout') -%>
<br>
<h4><span><i class="fa fa-code" aria-hidden="true"></i></span> CSE ACADEMIC CALANDER <span><i class="far fa-calendar-alt"></i></span></h4>
<br>
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%2366cccc&amp;src=cjpdgrubrhn3v3ge890l7tapks%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Asia%2FKolkata" style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>