<% layout('layout') -%>
<% if( bool == 0) { %>
<div>
    Syllabus<br>
    <div class="card-wrap" style="display:inline-block">
            CSE - Regulation 2013
    <i class="far fa-file-alt fa-3x" style="padding: 10px"></i>
    <button class="btn-blue"><a href = "https://www.annauniv.edu/academic_courses/01.%20UG%20WS%20upt%20on%2029.06.2015%20-F/04.%20I%20&%20C/22.%20CSE.pdf" target="_blank">  Download <i class="fas fa-download"></i> </a> </button>
    </div>
    <div class="card-wrap" style="display:inline-block">
            CSE - Regulation 2017
            <i class="far fa-file-alt fa-3x" style="padding: 10px"></i>
            <button class="btn-blue"><a href = "https://www.annauniv.edu/academic_courses/04.%20I%20&%20C/01.B.E.%20CSE%20final.pdf" target="_blank">  Download <i class="fas fa-download"></i> </a> </button>
    </div>
    <div class="clearfix"></div>
    <label class="line2"></label>
<!--
<form action='/circulars/adminedit' method="GET">
    <button type="submit" class="btn">Edit</button>
</form>-->
<div>
    Circulars / Announcements<br>
    <marquee><%- ann %> </marquee>
    <% if(typeof data1 !== 'undefined') { %>
    <% for(var i = 0; i < data1.length; i++) { %>
    <div class="card-wrap" style="display:inline-block">
        <%- data2[i] %>
        <i class="far fa-file-alt fa-3x" style="padding: 10px"></i>
        <button class="btn-blue"> <a href=<%- data1[i] %>> Download <i class="fas fa-download"></i> </a> </button>
    </div>
    <% } %>
    <% } %>
</div>
<br>
<div class="clearfix"></div>
<label class="line2"></label>
<% } %>
<!---->