<% layout('layout') -%>
<div class="home">
    <h1>DEPT OF
        < CSE /> @ VIT<span> <i class="fa fa-free-code-camp" aria-hidden="true"></i> </span></h1>
    <label class="line2"></label>
    <h2><span><i class="fa fa-eye" aria-hidden="true"></i></span> VISION OF THE DEPARTMENT</h2>
    <label class="line"></label>
    <i class="fa fa-eye" aria-hidden="true"></i> To create successful engineers with technical competency and
    innovative ideas in ihe field of Computer Scicnce and
    Engineering.
    <label class="line2"></label>
    <div class="row">
        <h2><span><i class="fa fa-medium" aria-hidden="true"></i></span>ISSION OF THE DEPARTMENT</h2>
        <label class="line"></label>
        <div class="column">
            <img src='/homep.png' width="112%">
        </div>
        <div class="column">
            <i class="fa fa-medium" aria-hidden="true"></i> To achieve academic excellence through effective
            teaching-learning process to meet the demands of the
            industry.<br>
            <i class="fa fa-medium" aria-hidden="true"></i> To equip students to face the challenges in the field of
            Computer Scicnce and Engineering and prepare them as responsible engineers with human values.<br>
        </div>
        <div class="clearfix"></div>
        <i class="fa fa-medium" aria-hidden="true"></i> To enrich students with required skills for employability
        entreprencurship and pursuing higher studies.<br>
        <i class="fa fa-medium" aria-hidden="true"></i> To encourage the students to implement innovative ideas for
        research
        & development.<br>
        <label class="line2"></label>
    </div>
    <div class="row">
        <h2><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Program Educational Objectives(PEOs)</h2>
        <label class="line"></label>
        The Program Educational Objectives of B.E. Computer Scienee and Engineering Programme is given below:
        Graduates of Computer Science and Engineering Program will<br>
        <div class="column">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i> Achieve a successful profession with good knowledge
            in Computer
            Scicnee and Engineering to meet the
            demands of industry.<br>
            <i class="fa fa-hand-o-right" aria-hidden="true"></i> Become morally responsible engineers and contribute
            to the
            betterment of society.<br>
            <i class="fa fa-hand-o-right" aria-hidden="true"></i> Possess required skills and leadership qualitics
            which will make
            them to be a continuouis learncr.<br><br>
        </div>
        <div class="column">
            <img src='/home2.png' width="90%">
        </div>
        <div class="clearfix"></div>
    </div>
    <label class="line2"></label>
    <div class=row>
        <h2><span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span> PROGRAMME SPECIFIC OUTCOMES(PSOs)</h2>
        <label class="line"></label>
        Graduates of Bachelor of Computer Science and Engineering will have the ability and capability to<br>
        <div class="clearfix"></div>
        <div class="column">
            <img src='/home3.png' width="85%">
        </div>
        <div class="column">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Apply the acquired knowledge of Mathematics & Computer
            ScienceEngineering,fundamentals to
            analyze,design & develop software products or projects.<br>
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Identify and apply the appropriate latest software
            tools to
            provide solutions forcomplex engineering
            problems.<br>
            <label class="line2"></label>
        </div>
        <div class="clearfix"></div>
    </div>
</div>