<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head.ejs %>
</head>

<% include templates/navbar.ejs %>

<body>
    <main role="main" class="container">
        <div class ="starter-template">
            <%- body %>
        </div>
    </main>
    <% include templates/includes.ejs %>
</body>

</html>