<% layout('layout') -%>
<!---->
<h2>Study Materials <span><i class="fas fa-pen-nib"></i></span> & Question Papers <span><i class="far fa-question-circle"></i></span></h2>
<% if( bool == 0 ) { %>
<div>
  <form action="/sem/select" method="POST">
    <p><i class="fa fa-hand-pointer-o" aria-hidden="true"> </i>  </p>
    <select class="browser-default" name="sem">
      <option value="" disabled selected> Select Your Semester </option>
      <option value="sem2">Semester 2</option>
      <option value="sem3">Semester 3</option>
      <option value="sem4">Semester 4</option>
      <option value="sem5">Semester 5</option>
      <option value="sem6">Semester 6</option>
      <option value="sem7">Semester 7</option>
      <option value="sem8">Semester 8</option>
    </select>
    <p><i class="fa fa-hand-peace-o" aria-hidden="true"></i>  </p>
    <select class="browser-default" name="categ" style="border : 50px">
      <option value="" disabled selected> Select Either Question Papers or Study-Materials </option>
      <option value="quesp">Question Papers</option>
      <option value="studym">Study Materials</option>
    </select>
    <br>
    <button type="submit" class="btn-blue2">Seek <i class="fa fa-hand-o-down" aria-hidden="true"></i> </button>
  </form>
  <br>
</div>
<% } else { %>
<div>
  <% if(typeof data1 !== 'undefined') { %>
  <% for(var i = 0; i < data1.length; i++) { %>
  <div class="card-wrap" style="display:inline-block">
    <%- data2[i] %>
    <i class="far fa-file-alt fa-3x" style="padding: 10px"></i>
    <button class = "btn-blue" > <a href=<%- data1[i] %>> Download <i class="fas fa-download"></i> </a> </button>
  </div>
  <% } %>
  <% } %>
</div>
<br>
<div class="clearfix"></div>
<label class="line2"></label>
<form action='/sem/goback'>
  <button type="submit" class="btn-lblue">Click Here to Choose Types Again</button>
</form>
<br>
<% } %>
<%= msg %>
<% if( bool == 0 ) { %>
  <i class="far fa-handshake"></i>
<% } else { %>
  <i class="far fa-grin-beam-sweat"></i> }
<% } %>
<br>