<div class="topnav" id="myTopnav">
  <a href = "/" class="active">&#x1F4C5; CSE &#x1F525; </a>
  <a href = "/">&#x1F3E1; HOME</a>
  <a href = "/circulars">&#x1F4DC; CIRCULARS</a>
  <a href = "/sem">&#x1F4DA; SEMESTERS</a>
  <a href = "/admin"><i class="fa fa-id-card" aria-hidden="true"></i> ADMIN </a>
  <a href = "/acal">&#x1F4C5; CALANDER</a>
  <a href = "/abtDept"><i class="fas fa-chalkboard-teacher"></i> ABOUT OUR DEPT</a>
  <a href = "javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
