<div class="topnav" id="myTopnav">
  <a href = "/" class="active"><i class="fa fa-code" aria-hidden="true"></i> CSE <i class="fa fa-free-code-camp" aria-hidden="true"></i></a>
  <a href = "/"><i class="fa fa-home" aria-hidden="true"></i> HOME</a>
  <a href = "/circulars"><i class="fa fa-codiepie" aria-hidden="true"></i> CIRCULARS</a>
  <a href = "/sem"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> SEMESTERS</a>
  <a href = "/admin"><i class="fa fa-id-card" aria-hidden="true"></i> ADMIN LOGIN</a>
  <a href = "/acal"><i class="fa fa-calendar" aria-hidden="true"></i> ACADEMIC CALANDER</a>
  <a href = "/abtDept"><i class="fas fa-chalkboard-teacher"></i> ABOUT OUR DEPT</a>
  <a href = "javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
