<% layout('layout') -%>
<h1>DEPT OF < CSE> @ VIT</h1>
<label class="line2"></label>
<h2>VISION OF THE DEPARTMENT</h2>
<label class="line"></label>
To create successful engineers with technical competency and innovative ideas in ihe field of Computer Scicnce and
Engineering.
<label class="line2"></label>
<div class="row">
    <h2>MISSION OF THE DEPARTMENT</h2>
    <label class="line"></label>
    <div class="column">
        <img src='/homep.png' width="100%">
    </div>
    <div class="column">
        1. To achieve academic excellence through effective teaching-learning process to meet the demands of the industry.<br>
        2. To equip students to face the challenges in the field of Computer Scicnce and Engineering and prepare them as responsible engineers with human values.<br>
        3. To enrich students with required skills for employability entreprencurship and pursuing higher studies.<br>
    </div>
    <br>
    4. To encourage the students to implement innovative ideas for research & development.<br>
    <label class="line2"></label>
</div>
<div class="row">
    <div class="column">
        <h2>Program Educational Objectives(PEOs)</h2>
        <label class="line"></label>
        The Program Educational Objectives of B.E. Computer Scienee and Engineering Programme is given below:
        Graduates of Computer Science and Engineering Program will<br>
        PEO 1. Achieve a successful profession with good knowledge in Computer Scicnee and Engineering to meet the demands of industry.<br>
        PEO 2. Become morally responsible engineers and contribute to the betterment of society.<br>
        PEO 3. Possess required skills and leadership qualitics which will make them to be a continuouis learncr.<br><br>
    </div>
    <div class="column">
        <img src='/home2.png' width="100%">
    </div>
</div>
<label class="line2"></label>
<div class=row>
    <div class="column">
        <img src='/home3.png' width="100%">
    </div>
    <div class="column">
        <h2>PROGRAMME SPECIFIC OUTCOMES(PSOs)</h2>
        <label class="line"></label>
        Graduates of Bachelor of Computer Science and Engineering will have the ability and capability to<br>
        PSO 1: Apply the acquired knowledge of Mathematics & Computer ScienceEngineering,fundamentals to
        analyze,design & develop software products or projects.<br>
        PSO 2: Identify and apply the appropriate latest software tools to provide solutions forcomplex engineering
        problems.<br>
        <label class="line2"></label>
    </div>
</div>